<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="javascript:void(0)">Logo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <ng-container *ngIf="userSrv.loggedUserData$ | async as userDetail">
          <span class="text-white">{{userDetail.role}}</span> 
          @if (userDetail.role == roleEnum.SUPER_ADMIN_ROLE) {
          <li class="nav-item">
            <a class="nav-link active" routerLink="dashboard">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="batch">batches</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="candidate">Candidate</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="enrollment">Enrollment</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="session-recordings">Recordings</a>
          </li>
          } @else {
          <li class="nav-item">
            <a class="nav-link active" routerLink="candidate-dashboard">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="candidate-recordings">Recordings</a>
          </li>
          }

        </ng-container>




      </ul>
      <form class="d-flex">
        <input type="text" placeholder="search.." (input)="onSearch($event)" />
        <ng-container *ngIf="userSrv.loggedUserData$ | async as userDetail">
          <button class="btn btn-outline-white text-white" type="button">{{userDetail.email}}</button>
        </ng-container>

        <button class="btn btn-primary" type="button" (click)="onLogOff()">LogOff</button>
      </form>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>